-- MySQL dump 10.13  Distrib 9.0.0, for Win64 (x86_64)
--
-- Host: localhost    Database: hoteldb
-- ------------------------------------------------------
-- Server version	9.0.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `book`
--

DROP TABLE IF EXISTS `book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `book` (
  `BookingID` int NOT NULL,
  `ID` int NOT NULL,
  PRIMARY KEY (`BookingID`,`ID`),
  KEY `ID` (`ID`),
  CONSTRAINT `book_ibfk_1` FOREIGN KEY (`BookingID`) REFERENCES `booking` (`BookingID`),
  CONSTRAINT `book_ibfk_2` FOREIGN KEY (`ID`) REFERENCES `customer` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book`
--

LOCK TABLES `book` WRITE;
/*!40000 ALTER TABLE `book` DISABLE KEYS */;
INSERT INTO `book` VALUES (1,1001),(2,1002),(3,1003);
/*!40000 ALTER TABLE `book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `BookingID` int NOT NULL AUTO_INCREMENT,
  `CustomerID` int DEFAULT NULL,
  `HotelID` int DEFAULT NULL,
  `RoomID` int DEFAULT NULL,
  `CheckInDate` date DEFAULT NULL,
  `CheckOutDate` date DEFAULT NULL,
  `BookingDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `Status` enum('Confirmed','Cancelled','Completed') DEFAULT 'Confirmed',
  PRIMARY KEY (`BookingID`),
  KEY `CustomerID` (`CustomerID`),
  KEY `HotelID` (`HotelID`),
  KEY `RoomID` (`RoomID`),
  KEY `idx_booking_checkin` (`CheckInDate`),
  CONSTRAINT `booking_ibfk_1` FOREIGN KEY (`CustomerID`) REFERENCES `customer` (`ID`),
  CONSTRAINT `booking_ibfk_2` FOREIGN KEY (`HotelID`) REFERENCES `hotel` (`HotelID`),
  CONSTRAINT `booking_ibfk_3` FOREIGN KEY (`RoomID`) REFERENCES `room` (`RoomID`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;

DELIMITER //

CREATE TRIGGER trg_max_active_bookings
BEFORE INSERT ON booking
FOR EACH ROW
BEGIN
    DECLARE active_booking_count INT;
    
    -- Count current active bookings for this customer
    -- Active = not cancelled and checkout date is in future
    SELECT COUNT(*) INTO active_booking_count
    FROM booking
    WHERE CustomerID = NEW.CustomerID
      AND Status != 'Cancelled'
      AND CheckOutDate >= CURDATE();
    
    -- Enforce maximum of 5 active bookings
    IF active_booking_count >= 5 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Booking limit exceeded: Maximum 5 active bookings allowed per customer';
    END IF;
END//

DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;

DELIMITER //

CREATE TRIGGER trg_no_employee_self_booking 
BEFORE INSERT ON booking 
FOR EACH ROW 
BEGIN
    DECLARE employee_hotel_id INT DEFAULT NULL;
    
    -- Check if the booking customer is an employee
    SELECT HotelID INTO employee_hotel_id
    FROM employee
    WHERE SSN = NEW.CustomerID;
    
    -- Prevent employees from booking at their own hotel
    IF employee_hotel_id IS NOT NULL AND employee_hotel_id = NEW.HotelID THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Conflict of interest: Employees cannot book rooms at their own hotel';
    END IF;
END //

DELIMITER ;

--
-- Table structure for table `chef`
--

DROP TABLE IF EXISTS `chef`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chef` (
  `SSN` int NOT NULL,
  `Specialty` varchar(100) DEFAULT NULL,
  `Shift` enum('Morning','Afternoon','Night') DEFAULT NULL,
  PRIMARY KEY (`SSN`),
  CONSTRAINT `chef_ibfk_1` FOREIGN KEY (`SSN`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chef`
--

LOCK TABLES `chef` WRITE;
/*!40000 ALTER TABLE `chef` DISABLE KEYS */;
INSERT INTO `chef` VALUES (777889999,'Italian','Morning'),(888990000,'French','Afternoon'),(999001111,'Asian Fusion','Night');
/*!40000 ALTER TABLE `chef` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cleaner`
--

DROP TABLE IF EXISTS `cleaner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cleaner` (
  `SSN` int NOT NULL,
  `Shift` enum('Morning','Afternoon','Night') DEFAULT NULL,
  `SupervisorSSN` int DEFAULT NULL,
  PRIMARY KEY (`SSN`),
  KEY `SupervisorSSN` (`SupervisorSSN`),
  CONSTRAINT `cleaner_ibfk_1` FOREIGN KEY (`SSN`) REFERENCES `employee` (`SSN`),
  CONSTRAINT `cleaner_ibfk_2` FOREIGN KEY (`SupervisorSSN`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cleaner`
--

LOCK TABLES `cleaner` WRITE;
/*!40000 ALTER TABLE `cleaner` DISABLE KEYS */;
INSERT INTO `cleaner` VALUES (123456789,'Morning',111223333),(234567890,'Afternoon',111223333),(345678901,'Night',111223333);
/*!40000 ALTER TABLE `cleaner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `FirstName` varchar(100) DEFAULT NULL,
  `MiddleName` varchar(100) DEFAULT NULL,
  `LastName` varchar(100) DEFAULT NULL,
  `State` varchar(100) DEFAULT NULL,
  `City` varchar(100) DEFAULT NULL,
  `Street` varchar(100) DEFAULT NULL,
  `ZipCode` varchar(20) DEFAULT NULL,
  `RegistrationDate` date DEFAULT NULL,
  `IDType` varchar(50) NOT NULL,
  `IDNumber` varchar(100) NOT NULL,
  `CreditCardNumber` varchar(20) NOT NULL,
  `CreditCardExpiration` varchar(7) NOT NULL,
  `CreditCardCVC` varchar(4) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=1057 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `SSN` int NOT NULL,
  `FirstName` varchar(100) DEFAULT NULL,
  `MiddleName` varchar(100) DEFAULT NULL,
  `LastName` varchar(100) DEFAULT NULL,
  `State` varchar(100) DEFAULT NULL,
  `City` varchar(100) DEFAULT NULL,
  `Street` varchar(100) DEFAULT NULL,
  `ZipCode` varchar(20) DEFAULT NULL,
  `HotelID` int DEFAULT NULL,
  `Role` enum('Manager','Receptionist','Chef','Cleaner') DEFAULT NULL,
  `HireDate` date DEFAULT NULL,
  `Salary` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`SSN`),
  KEY `HotelID` (`HotelID`),
  KEY `idx_employee_hotel_name` (`HotelID`,`LastName`),
  CONSTRAINT `employee_ibfk_1` FOREIGN KEY (`HotelID`) REFERENCES `hotel` (`HotelID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotel`
--

DROP TABLE IF EXISTS `hotel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hotel` (
  `HotelID` int NOT NULL AUTO_INCREMENT,
  `HotelName` varchar(100) DEFAULT NULL,
  `HotelEmail` varchar(100) DEFAULT NULL,
  `HotelPhoneNo` varchar(15) DEFAULT NULL,
  `Rating` int DEFAULT NULL,
  `NumberOfRooms` int DEFAULT NULL,
  `State` varchar(100) DEFAULT NULL,
  `City` varchar(100) DEFAULT NULL,
  `Street` varchar(100) DEFAULT NULL,
  `ZipCode` varchar(20) DEFAULT NULL,
  `ChainID` int DEFAULT NULL,
  PRIMARY KEY (`HotelID`),
  KEY `hotel_ibfk_1` (`ChainID`),
  CONSTRAINT `hotel_ibfk_1` FOREIGN KEY (`ChainID`) REFERENCES `hotelchain` (`ChainID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `hotel_chk_1` CHECK ((`Rating` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotel`
--

LOCK TABLES `hotel` WRITE;
/*!40000 ALTER TABLE `hotel` DISABLE KEYS */;
/*!40000 ALTER TABLE `hotel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotelchain`
--

DROP TABLE IF EXISTS `hotelchain`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hotelchain` (
  `ChainID` int NOT NULL AUTO_INCREMENT,
  `ChainName` varchar(100) DEFAULT NULL,
  `State` varchar(100) DEFAULT NULL,
  `NumberOfHotels` int DEFAULT NULL,
  `ChainEmail` varchar(100) DEFAULT NULL,
  `ChainPhoneNo` varchar(15) DEFAULT NULL,
  `City` varchar(100) DEFAULT NULL,
  `Street` varchar(100) DEFAULT NULL,
  `ZipCode` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`ChainID`),
  CONSTRAINT `hotelchain_chk_1` CHECK ((`NumberOfHotels` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotelchain`
--

LOCK TABLES `hotelchain` WRITE;
/*!40000 ALTER TABLE `hotelchain` DISABLE KEYS */;
INSERT INTO `hotelchain` VALUES (1,'Luxury Hotels','California',8,'contact@chain1.com','123-456-7890','Los Angeles','123 Sunset Blvd','90001'),(2,'Grand Hotels','New York',8,'contact@chain2.com','234-567-8901','New York City','456 Broadway','10001'),(3,'Oceanview Resorts','Florida',8,'contact@chain3.com','345-678-9012','Miami','789 Ocean Drive','33101'),(4,'Texas Hospitality','Texas',8,'contact@chain4.com','456-789-0123','Dallas','123 Elm St','75201'),(5,'Vegas Stays','Nevada',8,'contact@chain5.com','567-890-1234','Las Vegas','101 Vegas Blvd','89101');
/*!40000 ALTER TABLE `hotelchain` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manager`
--

DROP TABLE IF EXISTS `manager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manager` (
  `SSN` int NOT NULL,
  `Department` varchar(100) DEFAULT NULL,
  `ManagementLevel` int DEFAULT NULL,
  PRIMARY KEY (`SSN`),
  CONSTRAINT `manager_ibfk_1` FOREIGN KEY (`SSN`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manager`
--

LOCK TABLES `manager` WRITE;
/*!40000 ALTER TABLE `manager` DISABLE KEYS */;
INSERT INTO `manager` VALUES (111223333,'Operations',2),(333445555,'Operations',2),(555667777,'Operations',2);
/*!40000 ALTER TABLE `manager` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `PaymentID` int NOT NULL AUTO_INCREMENT,
  `RentingID` int DEFAULT NULL,
  `Amount` decimal(10,2) DEFAULT NULL,
  `PaymentDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `PaymentMethod` enum('Cash','Credit Card','Debit Card','Bank Transfer') DEFAULT NULL,
  `EmployeeID` int DEFAULT NULL,
  `ReceiptNumber` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`PaymentID`),
  KEY `RentingID` (`RentingID`),
  KEY `EmployeeID` (`EmployeeID`),
  CONSTRAINT `payment_ibfk_1` FOREIGN KEY (`RentingID`) REFERENCES `renting` (`RentingID`),
  CONSTRAINT `payment_ibfk_2` FOREIGN KEY (`EmployeeID`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
INSERT INTO `payment` VALUES (1,1,250.00,'2025-03-28 14:30:00','Credit Card',222334444,'RC-2025-0001'),(2,1,250.00,'2025-03-29 10:00:00','Credit Card',222334444,'RC-2025-0002'),(3,2,450.00,'2025-03-29 16:00:00','Debit Card',444556666,'RC-2025-0003'),(4,2,450.00,'2025-03-30 11:00:00','Debit Card',444556666,'RC-2025-0004');
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receptionist`
--

DROP TABLE IF EXISTS `receptionist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receptionist` (
  `SSN` int NOT NULL,
  `Shift` enum('Morning','Afternoon','Night') DEFAULT NULL,
  `CanProcessPayments` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`SSN`),
  CONSTRAINT `receptionist_ibfk_1` FOREIGN KEY (`SSN`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receptionist`
--

LOCK TABLES `receptionist` WRITE;
/*!40000 ALTER TABLE `receptionist` DISABLE KEYS */;
INSERT INTO `receptionist` VALUES (222334444,'Morning',1),(444556666,'Afternoon',1),(666778888,'Night',1);
/*!40000 ALTER TABLE `receptionist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rent`
--

DROP TABLE IF EXISTS `rent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rent` (
  `RentingID` int NOT NULL,
  `ID` int NOT NULL,
  PRIMARY KEY (`RentingID`,`ID`),
  KEY `ID` (`ID`),
  CONSTRAINT `rent_ibfk_1` FOREIGN KEY (`RentingID`) REFERENCES `renting` (`RentingID`),
  CONSTRAINT `rent_ibfk_2` FOREIGN KEY (`ID`) REFERENCES `customer` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rent`
--

LOCK TABLES `rent` WRITE;
/*!40000 ALTER TABLE `rent` DISABLE KEYS */;
INSERT INTO `rent` VALUES (1,1001),(2,1002);
/*!40000 ALTER TABLE `rent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `renting`
--

DROP TABLE IF EXISTS `renting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `renting` (
  `RentingID` int NOT NULL AUTO_INCREMENT,
  `CustomerID` int DEFAULT NULL,
  `HotelID` int DEFAULT NULL,
  `RoomID` int DEFAULT NULL,
  `RentingDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `CheckInDate` date DEFAULT NULL,
  `CheckOutDate` date DEFAULT NULL,
  `TotalPrice` decimal(10,2) DEFAULT NULL,
  `Status` enum('Active','Completed','Cancelled') DEFAULT 'Active',
  `EmployeeID` int DEFAULT NULL,
  PRIMARY KEY (`RentingID`),
  KEY `renting_ibfk_1` (`HotelID`),
  KEY `renting_ibfk_2` (`CustomerID`),
  KEY `renting_ibfk_3` (`RoomID`),
  KEY `renting_ibfk_4` (`EmployeeID`),
  CONSTRAINT `renting_ibfk_1` FOREIGN KEY (`HotelID`) REFERENCES `hotel` (`HotelID`) ON DELETE CASCADE,
  CONSTRAINT `renting_ibfk_2` FOREIGN KEY (`CustomerID`) REFERENCES `customer` (`ID`),
  CONSTRAINT `renting_ibfk_3` FOREIGN KEY (`RoomID`) REFERENCES `room` (`RoomID`),
  CONSTRAINT `renting_ibfk_4` FOREIGN KEY (`EmployeeID`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `renting`
--

LOCK TABLES `renting` WRITE;
/*!40000 ALTER TABLE `renting` DISABLE KEYS */;
/*!40000 ALTER TABLE `renting` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;

DELIMITER //

CREATE TRIGGER trg_calculate_renting_price
BEFORE INSERT ON renting
FOR EACH ROW
BEGIN
    DECLARE room_price DECIMAL(10,2);
    DECLARE num_days INT;
    
    -- Get the current price of the room
    SELECT Price INTO room_price
    FROM room
    WHERE RoomID = NEW.RoomID;
    
    -- Calculate duration of stay in days
    SET num_days = DATEDIFF(NEW.CheckOutDate, NEW.CheckInDate);
    
    -- Calculate total price (price × duration)
    SET NEW.TotalPrice = room_price * num_days;
END//

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `request`
--

DROP TABLE IF EXISTS `request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `request` (
  `ID` int NOT NULL,
  `RentingID` int NOT NULL,
  PRIMARY KEY (`ID`,`RentingID`),
  KEY `RentingID` (`RentingID`),
  CONSTRAINT `request_ibfk_1` FOREIGN KEY (`RentingID`) REFERENCES `renting` (`RentingID`),
  CONSTRAINT `request_ibfk_2` FOREIGN KEY (`ID`) REFERENCES `customer` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request`
--

LOCK TABLES `request` WRITE;
/*!40000 ALTER TABLE `request` DISABLE KEYS */;
INSERT INTO `request` VALUES (1001,1),(1002,2);
/*!40000 ALTER TABLE `request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room`
--

DROP TABLE IF EXISTS `room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room` (
  `RoomID` int NOT NULL AUTO_INCREMENT,
  `HotelID` int DEFAULT NULL,
  `RoomNumber` int DEFAULT NULL,
  `Capacity` varchar(50) DEFAULT NULL,
  `SeaView` tinyint(1) DEFAULT NULL,
  `MountainView` tinyint(1) DEFAULT NULL,
  `Extendable` tinyint(1) DEFAULT NULL,
  `Damaged` tinyint(1) DEFAULT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  `Amenities` text,
  `Floor` int DEFAULT NULL,
  `LastMaintenanceDate` date DEFAULT NULL,
  PRIMARY KEY (`RoomID`),
  KEY `HotelID` (`HotelID`),
  KEY `idx_room_hotel_capacity` (`HotelID`,`Capacity`),
  CONSTRAINT `room_ibfk_1` FOREIGN KEY (`HotelID`) REFERENCES `hotel` (`HotelID`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room`
--

LOCK TABLES `room` WRITE;
/*!40000 ALTER TABLE `room` DISABLE KEYS */;
/*!40000 ALTER TABLE `room` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;

DELIMITER //

CREATE TRIGGER trg_update_room_status_after_maintenance
AFTER UPDATE ON room
FOR EACH ROW
BEGIN
    -- Check if maintenance was performed on a damaged room
    IF NEW.LastMaintenanceDate <> OLD.LastMaintenanceDate AND OLD.Damaged = 1 THEN
        -- If maintenance was done within the last 7 days, mark room as repaired
        IF DATEDIFF(CURDATE(), NEW.LastMaintenanceDate) <= 7 THEN
            UPDATE room 
            SET Damaged = 0 
            WHERE RoomID = NEW.RoomID;
        END IF;
    END IF;
END//


DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `transform`
--

DROP TABLE IF EXISTS `transform`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transform` (
  `RentingID` int NOT NULL,
  `BookingID` int NOT NULL,
  `CheckInDate` date DEFAULT NULL,
  `EmployeeID` int DEFAULT NULL,
  `TransformDate` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`RentingID`,`BookingID`),
  KEY `BookingID` (`BookingID`),
  KEY `EmployeeID` (`EmployeeID`),
  CONSTRAINT `transform_ibfk_1` FOREIGN KEY (`RentingID`) REFERENCES `renting` (`RentingID`),
  CONSTRAINT `transform_ibfk_2` FOREIGN KEY (`BookingID`) REFERENCES `booking` (`BookingID`),
  CONSTRAINT `transform_ibfk_3` FOREIGN KEY (`EmployeeID`) REFERENCES `employee` (`SSN`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transform`
--

LOCK TABLES `transform` WRITE;
/*!40000 ALTER TABLE `transform` DISABLE KEYS */;
INSERT INTO `transform` VALUES (1,1,'2025-03-28',222334444,'2025-03-28 14:00:00'),(8,15,'2046-04-03',222334444,'2025-03-31 12:43:12'),(9,2,'2025-04-10',222334444,'2025-03-31 12:45:57'),(10,16,'2026-01-01',222334444,'2025-03-31 12:48:38'),(11,3,'2025-05-01',222334444,'2025-03-31 13:10:44'),(12,6,'2026-01-01',222334444,'2025-03-31 13:38:50'),(13,4,'2026-07-05',222334444,'2025-03-31 13:43:39'),(14,7,'2026-06-06',222334444,'2025-03-31 14:04:59'),(15,19,'2029-03-02',222334444,'2025-03-31 18:13:34'),(17,18,'2030-01-01',222334444,'2025-03-31 19:01:41');
/*!40000 ALTER TABLE `transform` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_available_rooms_by_area`
--

DROP TABLE IF EXISTS `vw_available_rooms_by_area`;
/*!50001 DROP VIEW IF EXISTS `vw_available_rooms_by_area`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_available_rooms_by_area` AS SELECT 
 1 AS `HotelID`,
 1 AS `HotelName`,
 1 AS `State`,
 1 AS `City`,
 1 AS `RoomID`,
 1 AS `RoomNumber`,
 1 AS `Capacity`,
 1 AS `Price`,
 1 AS `Amenities`,
 1 AS `ChainName`,
 1 AS `HotelRating`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_employee_permissions`
--

DROP TABLE IF EXISTS `vw_employee_permissions`;
/*!50001 DROP VIEW IF EXISTS `vw_employee_permissions`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_employee_permissions` AS SELECT 
 1 AS `SSN`,
 1 AS `EmployeeName`,
 1 AS `Role`,
 1 AS `HotelName`,
 1 AS `City`,
 1 AS `State`,
 1 AS `CanProcessPayments`,
 1 AS `SystemAccessLevel`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_hotel_capacity_summary`
--

DROP TABLE IF EXISTS `vw_hotel_capacity_summary`;
/*!50001 DROP VIEW IF EXISTS `vw_hotel_capacity_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_hotel_capacity_summary` AS SELECT 
 1 AS `HotelID`,
 1 AS `HotelName`,
 1 AS `City`,
 1 AS `State`,
 1 AS `ChainName`,
 1 AS `Capacity`,
 1 AS `TotalRooms`,
 1 AS `AvailableRooms`,
 1 AS `DamagedRooms`,
 1 AS `MinPrice`,
 1 AS `MaxPrice`,
 1 AS `AvgPrice`,
 1 AS `AmenitiesList`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_renting_payment_status`
--

DROP TABLE IF EXISTS `vw_renting_payment_status`;
/*!50001 DROP VIEW IF EXISTS `vw_renting_payment_status`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_renting_payment_status` AS SELECT 
 1 AS `RentingID`,
 1 AS `CustomerName`,
 1 AS `HotelName`,
 1 AS `RoomNumber`,
 1 AS `CheckInDate`,
 1 AS `CheckOutDate`,
 1 AS `TotalPrice`,
 1 AS `AmountPaid`,
 1 AS `BalanceDue`,
 1 AS `PaymentStatus`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_available_rooms_by_area`
--

/*!50001 DROP VIEW IF EXISTS `vw_available_rooms_by_area`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_available_rooms_by_area` AS select `h`.`HotelID` AS `HotelID`,`h`.`HotelName` AS `HotelName`,`h`.`State` AS `State`,`h`.`City` AS `City`,`r`.`RoomID` AS `RoomID`,`r`.`RoomNumber` AS `RoomNumber`,`r`.`Capacity` AS `Capacity`,`r`.`Price` AS `Price`,`r`.`Amenities` AS `Amenities`,`hc`.`ChainName` AS `ChainName`,`h`.`Rating` AS `HotelRating` from ((`room` `r` join `hotel` `h` on((`r`.`HotelID` = `h`.`HotelID`))) join `hotelchain` `hc` on((`h`.`ChainID` = `hc`.`ChainID`))) where ((`r`.`Damaged` = 0) and exists(select 1 from `renting` `rg` where ((`rg`.`RoomID` = `r`.`RoomID`) and (`rg`.`Status` = 'Active') and (((`rg`.`CheckInDate` <= curdate()) and (`rg`.`CheckOutDate` >= curdate())) or (`rg`.`CheckInDate` between curdate() and (curdate() + interval 30 day))))) is false and exists(select 1 from `booking` `b` where ((`b`.`RoomID` = `r`.`RoomID`) and (`b`.`Status` = 'Confirmed') and (((`b`.`CheckInDate` <= curdate()) and (`b`.`CheckOutDate` >= curdate())) or (`b`.`CheckInDate` between curdate() and (curdate() + interval 30 day))))) is false) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_employee_permissions`
--

/*!50001 DROP VIEW IF EXISTS `vw_employee_permissions`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_employee_permissions` AS select `e`.`SSN` AS `SSN`,concat(`e`.`FirstName`,' ',`e`.`LastName`) AS `EmployeeName`,`e`.`Role` AS `Role`,`h`.`HotelName` AS `HotelName`,`h`.`City` AS `City`,`h`.`State` AS `State`,(case when (`e`.`Role` = 'Receptionist') then 'Yes' when (`e`.`Role` = 'Manager') then 'Yes' else 'No' end) AS `CanProcessPayments`,(case when (`e`.`Role` = 'Manager') then 'Full Access' when (`e`.`Role` = 'Receptionist') then 'Limited Access' else 'No Access' end) AS `SystemAccessLevel` from (`employee` `e` join `hotel` `h` on((`e`.`HotelID` = `h`.`HotelID`))) order by `e`.`Role`,`e`.`LastName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_hotel_capacity_summary`
--

/*!50001 DROP VIEW IF EXISTS `vw_hotel_capacity_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_hotel_capacity_summary` AS select `h`.`HotelID` AS `HotelID`,`h`.`HotelName` AS `HotelName`,`h`.`City` AS `City`,`h`.`State` AS `State`,`hc`.`ChainName` AS `ChainName`,`r`.`Capacity` AS `Capacity`,count(0) AS `TotalRooms`,sum((case when (`r`.`Damaged` = 0) then 1 else 0 end)) AS `AvailableRooms`,sum((case when (`r`.`Damaged` = 1) then 1 else 0 end)) AS `DamagedRooms`,min(`r`.`Price`) AS `MinPrice`,max(`r`.`Price`) AS `MaxPrice`,avg(`r`.`Price`) AS `AvgPrice`,group_concat(distinct `r`.`Amenities` order by `r`.`Amenities` ASC separator '; ') AS `AmenitiesList` from ((`hotel` `h` join `room` `r` on((`h`.`HotelID` = `r`.`HotelID`))) join `hotelchain` `hc` on((`h`.`ChainID` = `hc`.`ChainID`))) group by `h`.`HotelID`,`h`.`HotelName`,`h`.`City`,`h`.`State`,`hc`.`ChainName`,`r`.`Capacity` order by `h`.`HotelID`,`r`.`Capacity` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_renting_payment_status`
--

/*!50001 DROP VIEW IF EXISTS `vw_renting_payment_status`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_renting_payment_status` AS select `r`.`RentingID` AS `RentingID`,concat(`c`.`FirstName`,' ',`c`.`LastName`) AS `CustomerName`,`h`.`HotelName` AS `HotelName`,`rm`.`RoomNumber` AS `RoomNumber`,`r`.`CheckInDate` AS `CheckInDate`,`r`.`CheckOutDate` AS `CheckOutDate`,`r`.`TotalPrice` AS `TotalPrice`,ifnull(sum(`p`.`Amount`),0) AS `AmountPaid`,(`r`.`TotalPrice` - ifnull(sum(`p`.`Amount`),0)) AS `BalanceDue`,(case when ((`r`.`TotalPrice` - ifnull(sum(`p`.`Amount`),0)) <= 0) then 'Paid in Full' when ((`r`.`TotalPrice` - ifnull(sum(`p`.`Amount`),0)) < `r`.`TotalPrice`) then 'Partial Payment' else 'No Payment' end) AS `PaymentStatus` from ((((`renting` `r` join `customer` `c` on((`r`.`CustomerID` = `c`.`ID`))) join `hotel` `h` on((`r`.`HotelID` = `h`.`HotelID`))) join `room` `rm` on((`r`.`RoomID` = `rm`.`RoomID`))) left join `payment` `p` on((`r`.`RentingID` = `p`.`RentingID`))) where (`r`.`Status` = 'Active') group by `r`.`RentingID`,`c`.`FirstName`,`c`.`LastName`,`h`.`HotelName`,`rm`.`RoomNumber`,`r`.`CheckInDate`,`r`.`CheckOutDate`,`r`.`TotalPrice` order by `BalanceDue` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-31 19:06:47
